* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
	font-family: 'HelveticaNeue';
}
.nika-background {
	height: 308px;
	background-color: #0A22F4;
}
.nika-container {
	position: relative;
	max-width: 1439px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: #0A22F4;
}
.nika-title {
	position: absolute;
	font-size: 32px;
	color: #FFFFFF;
	left: 0px; 
	top: 70px;
}
.nika-dot1 {
	position: absolute;
	background-color: #FFFFFF;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	top: 84px;
	right: 60px;
}
.nika-dot2 {
	position: absolute;
	background-color: #FFFFFF;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	top: 84px;
	right: 30px;
}
.nika-dot3 {
	position: absolute;
	background-color: #FFFFFF;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	top: 84px;
	right: 0px;
}
.nika-container2 {
	position: relative;
	max-width: 1439px;
	width: 100%;
	margin: 0 auto;
	background-color:  #FFFFFF;
}
.nika-imgblock {
	position: relative;
	display: inline-block;
	left: 423px;
	margin-top: -160px;
	width: 553px;
	height: 510px;
	border-radius: 12px;
}
 .nika-img {
	width: 100%;
}
.nika-parablock {
	display: inline block;
	position: absolute;
	padding-top: 28px;
	width: 443px;
	height: 125px;
	border-radius: 12px;
	background-color: #FFFFFF;
	opacity: 0.8;
	bottom: 65px;
	left: 55px;
	text-align: center;
}
.nika-text {
	display: inline-block;
	margin: auto;
	font-size: 18px;
	width: 100%;
	color: #171717;
}

/* anna akhalbedashvili */
.proeqtebiAA{
	background-color: #0A22F4;
	height: 308px;
	color: #FFFFFF;
	
}
.proeqtebiAA h3{
	width: 184px;
	padding-top: 70px;
	padding-left: 240px;
	padding-bottom: 200px;
	font-size: 32px;
}
.img-blog1AA{
	width: 463px;
	display: inline-block;
	position: relative;
	/* top:188px; */
	left: 240px;
	margin-top: -160px;
	
}
.img-blog1AA img {
	width: 100%;
	height: 420px;
	border-radius: 15px;
	position: relative;
	}
.img-blog1AA h5{
	position: absolute;
	text-align: center;
	top: 285px;
	bottom: 10px;
	border-radius: 12px;
	background-color: #FFFFFF;
	color: #171717;
	font-size: 18px;
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	padding-right: 74px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
/* anna akhalbedashvili */







/* mzia tvaradze */

.third{
	width: 463px;
	display: inline-block;
	position: relative;
	float: right;
	margin-top: -420px;
	padding-left: 35px;
}
.third img{
	display: block;
	position: relative;
	width: 100%
	border-radius : 15px;
}
.pthird{

	background-color: #FFFFFF;
	width: 443px;
	height: 125px;
	position: absolute;
	text-align: center;
	color: #171717;
	font-size: 18px;
	border-radius: 12px;
	top: 285px;
	bottom: 10px;
	font-size: 18px;
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	padding-right: 74px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;

}

.pro{
	width: 145px;
	height: 22px;
	font-size: 18px;
	color: #171717;
	text-decoration: none;
	padding-left: 80%;
	display:inline-block;
	margin-top: 50px;
}
